@font-face {
    font-family: 'ACCchildrenheartOTF-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#user_name {
    font-size: 20px;
}

.move_site{
    border: solid 1px palevioletred;
    padding: 10px;
    margin: 10px 5px;
}

.move_site img{
    width:20px;
	height:auto;
}

body{
    font-family: 'ACCchildrenheartOTF-Regular';
    text-align: center;
    background-color: #333333;
    color: white;
}

header{
    border: solid 1px palevioletred;
    padding: 10px;
    margin: 5px;
}

a{
    color: white;
    text-decoration:none
}

button{
    background-color: palevioletred;
    border: none;
}

/* @media screen and (max-width:500px) {
    body{}
}

@media screen and (min-width:500px) and (max-width:800px) {
    body{}
}

@media screen and (min-width:800px) {
    body{}
} */